nav {
    display: flex;
    justify-content: end;
    background: bisque;
    color: black;
    padding-right: 5rem;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    padding-left: 10rem;
}